* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  margin: 0 0 1.2rem 0;
  font-family: "Patyone One", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #564741;
  line-height: 1.75;
}

h2 {
  margin: 0 0 1.2rem 0;
  font-family: "Patyone One", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #564741;
  line-height: 1.75;
}

h3 {
  margin: 0 0 1.2rem 0;
  font-family: "Patyone One", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #564741;
  line-height: 1.75;
}

p {
  margin: 0 0 0.9rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #564741;
  line-height: 1.5;
}

li {
  list-style-type: none;
  line-height: 0.9;
}

a {
  color: #564741;
  text-decoration: none;
}

a:hover {
  color: #f7a905;
}