@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Change bullets color in testimoials slide */
.swiper-pagination .swiper-pagination-bullet {
  background-color: #564741;
}

/* contact form 7  */
.wpcf7-form {
  background-color: #ffffff;
  border: 1px solid #ffe2c9;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.15);
  padding: 2em;
  overflow: none !important;
  color: #564741;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-textarea {
  background-color: transparent;
  border-bottom: 1px solid #ffe2c9;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-bottom: 5px;
  outline: none;
  transition: 0.4s border;
  padding: 0.5rem;
  width: 100%;
}
.wpcf7-form .wpcf7-text:focus,
.wpcf7-form .wpcf7-textarea:focus,
.wpcf7-form .wpcf7-text:hover,
.wpcf7-form .wpcf7-textarea:hover {
  border: 1px dashed #001;
}
.wpcf7-form .wpcf7-acceptance .wpcf7-list-item {
  margin-bottom: 1rem;
}
.wpcf7-form .wpcf7-submit {
  padding: 0.75rem 1rem;
  border: solid 1px #ffe2c9;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.wpcf7-form .wpcf7-submit:hover {
  background-color: #f7a905;
  border: 1px solid #564741;
}
.wpcf7-form .wpcf7-textarea {
  height: 140px;
}

/*Pagination*/
.page-numbers.current >span {
  background-color: #ffe2c9;
}
.page-numbers:not(.current) >span:hover {
  background-color: #f7a905;
  color: #ffffff;
}

/* Remove x button in search */

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;

}

/* Sidebar in blog page  */
.widget >ul {
  display: inline-flex;
  flex-wrap: wrap;
}
.widget >ul>li {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  background-color: rgba(255, 226, 201, 0.5);
  color: #564741;
  transition: all .3s ease-in;
  
}
.widget >ul>li:hover {
  background-color: #f7a905;
  
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}