@import "variables";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.row {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  @include atSmall {
    flex-flow: row wrap;
  }
}

.card {
  padding: 2rem 0.5rem;
  text-align: center;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}
