$color-primary: #f7a905;
$color-secondary: #ffe2c9;
$color-text: #564741;
$color-bg: #fff9f4;
$color-bg2: #f3f3f3;

$font-family-para: "Poppins", sans-serif;
$font-family-heading: "Patyone One", sans-serif;

$z-background: -5;
$z-header: 5;
